<html>
  <head>
  	<title>Brant Wright Introduction</title>
  	<meta charset="utf-8"/>
  	<link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div class="container">
    	<section class="info">
      	<header>
          <h1 class="title">Brant Wright</h1>
        </header>
    	
        <div class="hero">
          <header><h1>About Me</h1></header>
        	   <p>I am originally from Houston, TX. I moved to Salt Lake for school where I am currently enrollled at the University of Utah majoring in Computer Science.</p>
        	
          <header><h1>Why DevPoint</h1></header>
             <p>I want a headstart on my career and would like to gain real life experience and practical skills in the field of programming before graduation.</p>
          
          <header><h1>Hobbies</h1></header>
           <ul>
        		  <li>Traveling</li>
        		  <li>Movies</li>
        		  <li>Tennis</li>
              <li>Hiking</li>
              <li>Eating</li>
              <li>Programming, of course!</li>
           </ul>
        </div>
      </section>

      <section class="gallery">
          <figure class="gallery-item">
            <img class="thumbnail" src="http://ecx.images-amazon.com/images/I/51SPVi-1rXL._SY355_.jpg">
          </figure>
          <figure class="gallery-item">
            <img class="thumbnail" src="">
          </figure>
          <figure class="gallery-item">
            <img class="thumbnail" src="">
          </figure>
          <figure class="gallery-item">
            <img class="thumbnail" src="">
        
          </figure>
      </section>


    </div>    
  </body>
</html>